@font-face {
	font-family: PromtImperialBold;
	src: url(../fonts/PromtImperialBold.ttf);
}

@font-face {
	font-family: PromtImperial;
	src: url(../fonts/PromtImperial.ttf);
}

@font-face {
	font-family: Lato;
	src: url(../fonts/9625.ttf);
}

$gray_color: #7b7b7b;
$green_color: #1c916a;
$orange_color: #ff4e00;
$gray_color_h1: #606060;
$font: 'PromtImperial';
$lato: 'Lato';
$fontBold: 'PromtImperialBold';
$road_info_height: 100%;
$margin: 15vh;
$margin_h1: 7vh;
$medium_margin_h1: 10vh;
$medium_margin: 20vh;
$blue_color: #3e87f6;

.info_container_first{
    margin: 0 40px 10px 0;
}

.info_container_first h1{
	font-size: 36px;
    color: white;
    background-color: $orange_color !important;
    padding: 0 10px;
}

.year_container{
	text-align: right;
}

body *{
	//font-family: $font;
}

.carTextContainer h1 {
    font-weight: bold;
    font-size: 18px;
}

.overflow_body{
	height: 100vh;
	overflow: hidden;
}

#main_block{
    width: 100%;
    height: 100vh;
    background: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 100;
    opacity: 1;
    transition: opacity 2s 3s ease;
}

header{
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#page_content{
	opacity: 0;
	transition: opacity 3s 1s ease;
}

.container ul li{
	text-align: center;
	color: $gray_color;
	font-size: 16px;
	border-right: 1px solid $gray_color;
}

.container ul li:hover .nav-link{
	color: $orange_color !important;
}

.container ul li:last-of-type{border-right: none;}

.container ul li .nav-link{
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    border-radius: 0;
    padding: 28px 0;
    width: 100%;
    margin-top: -5px;
}

.dropdown-menu .dropdown-item{
	margin-bottom: 10px;
	color: $gray_color;
	white-space: normal;
}

.dropdown-menu .dropdown-item:last-of-type{
	margin-bottom: 0px;
}

#map{
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#controls{
	position: absolute;
    z-index: 10;
    bottom: calc( 46vh - 40px);
    width: 5vh;
    right: 2vh;
}

#roads{
	padding: 0 0 $margin;
}

#roads .road{
	height: 67px;
    border: 1px solid $blue_color;
    background-color: white;
    border-radius: 15px;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
	margin-top: calc(50vh - 33px);
}

.road_container:hover .road{
	display: none;
}

.road_container:hover .road_hover{
	display: block;
}

 .road_container .road_hover{
	display: none;
}

.road_hover h1{
	margin-top: calc(17vh - 33px);
    font-size: 33px;
    padding-bottom: 8vh;
    border-bottom: 1px solid white;
}

.road_hover p{
	margin: 8vh 0;
}

.road_hover p span{
	font-size: 25px;
}

.road_hover button{
	width: 80%;
    margin-top: 7vh;
    padding: 1vh 0;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#roads .road:hover{
	border: 1px solid $orange_color;
}

#roads .road:hover .roadText{
	background-color: $blue_color;
}

#roads .opennedRoad{
	border: 1px solid $orange_color;
}

#roads .opennedRoad .roadText{
	background-color: $blue_color !important;
}

#roads .road .roadText{
	border-radius: 10px;
	background-color: $blue_color;
	height: 100%;
	color: white;
	font-size: 35px;
	text-align: center;
}

#road_info{
	max-height: 0;
	height: auto;
	opacity: 0;
	overflow: hidden;
	margin-top: $margin;
	transition: all .2s ease;
}

#road_info.openRoad{
	min-height: calc(100vh - 40px);
	opacity: 1;
	margin-top: 0px;
	padding-top: 40px;
	margin-bottom: $margin;
}

.road_info_inner{
	position: relative;
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-direction: column;
	height: calc(90vh - 100px);
	transition: left ease .5s;
	left: 0;
}

.svg_path_container{
	height: 33%;
}

.image_container{
	position: relative;
    height: 100%;
}

.image_container .image_line {
    border-left: 1px solid #c4c4c4;
    height: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.year_container{
	font-size: 36px;
	position: absolute;
}

.last_part .year_container{
	bottom: 60px;
}

.image_container .image_sircle{
    border: 2px solid #c4c4c4;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: white;
}

.last_part .image_container:before {

}

.last_part .image_container:after {

}

.info_container{
	display: flex;
    /*object-fit: contain;*/
    height: 100%;
}

.info_container img{
	height: $road_info_height;
    margin-right: 40px;
    margin-left: 60px;
    /*object-fit: contain;
    align-self: baseline;*/
}

.info_container:nth-of-type(1) img{
	margin-left: 0px;
}

.first_part{
	display: flex;
	margin-top: 30px;
	height: 33%;
}

.info_text_h1_container{
	max-width: 250px;
}

.road_title_container{
	width: 215px;
    margin-top: -39px;
    margin-left: 2px;
}

.first_title{
	font-size: 40px;
}

.road_info_inner h1{
	padding: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #c4c4c4;
    text-transform: uppercase;
    display: inline-block;
}

.info_text_container{
	height: $road_info_height;
    min-width: 400px;
}

.close_btn{
	height: 3vh;
    margin: 0 3vh;
    cursor: pointer;
    position: absolute;
    right: 100vw;
    z-index: 3;
    top: calc(100vh + 20px);
}

.dropdown-item.active, .dropdown-item:active{
	background-color: #fbfbfb;
}

#progress{
	margin-bottom: $margin;
}

#history .row p{
	margin-bottom: 20px;
}

.carTextContainer{
	justify-content: center;
    height: auto;
    display: flex;
    flex-direction: column;
}

.imgTextContainer {
    display: flex;
    opacity: 0;
	transition: all ease 1s;
}

.imgTextContainer img{
	width: 80%;
}

 .carTextContainer h1, .carTextContainer p{
	padding-left: 20%;
    width: 100%;
    padding-right: 20%;
}

.imgTextContainer:nth-child(2n) p{
	text-align: right;
	padding-left: 0%;
    width: 100%;
    padding-right: 40%;
}
.imgTextContainer:nth-child(2n) .leftSide{
	text-align: right;
}
.imgTextContainer:nth-child(2n) h1{
	text-align: right;
	padding-left: 0%;
    width: 100%;
    padding-right: 40%;
}

.imgTextContainer:nth-child(2){
	margin-top: -25px;
}

.imgTextContainer:nth-child(3){
	margin-top: -63px;
}

.imgTextContainer:nth-child(5){
	margin-top: -40px;
}

.imgTextContainer:nth-child(4){
	margin-top: -60px;
}

.imgTextContainer:nth-child(6){
	margin-top: -50px;
}

.imgTextContainer:nth-child(10){
	margin-top: -50px;
}
.imgTextContainer:nth-child(11){
	margin-top: -50px;
}

.imgTextContainer div{
	width: 50%;
	object-fit: contain;
}

.history-container{
	margin-bottom: $margin;
}

#svg{
	position: absolute;
	overflow: visible;
}

.h1_container{
	position: relative;
	text-align:center;
	margin-bottom: $margin_h1;
}

.h1_container h1{
	margin: auto;
	border-right: 1px solid $orange_color;
	border-left: 1px solid $orange_color;
	padding: 0 40px;
	color: $orange_color;
	width: auto;
    display:inline-block;
    font-size: 36px;
}

.progress-container .setLineHeight{
	color: $orange_color;
	font-weight: 800;
}

.progress-container .setLineHeight span{
	color: #212529;
}

.progress-container .col-6 .setLineHeight{
	font-size: 58px;
	display: inline-block;
    width: 100%;
    text-align: right;
}

.progress-container .col-6 .setLineHeight span{
	font-size: 17px;
}

.progress-container .col-6 .setLineHeight p{
	font-size: 17px;
    width: 60px;
    display: inline-block;
    color: #212529;
    text-align: right;
}

.progress-container .col-6 p{
    text-align: right;
    margin-top: -15px;
    line-height: 19px;
}

.setLineHeightLittle{
	text-align: right;
	color: $orange_color;
	font-size: 35px;
	margin-top: 10px;
	font-weight: 800;
}
.progress-container .col-6 .setLineHeightLittle p{
	font-size: 15px;
    width: 45px;
    display: inline-block;
    color: #212529;
    text-align: right;
}

.progress_simpleText {
	font-weight: normal;
    width: 60px;
    margin-right: 10px;
}

.progress-container .col-6 .invest{
	margin-top: 0;
}

.progress-container .col-10 .setLineHeight{
	font-size: 88px;
}

.progress-container .col-10 .setLineHeight span{
	font-size: 45px;
}

.progress-container .col-6 .setLineHeightLast p{
	width: 83px;
}

.secondProgressRow{
	margin-top: 40px
}

footer{
	padding: 20px 0;
	margin-top: 100px;
	background-color: #c8c8c8;
	color: white;
	height: 60px;
}

footer a, footer p{
	float: left;
}

footer img{
    margin-right: 10px;
    height: 20px;
}

.footer_text_left{
	margin-left: 30px;
	margin-top: -3px;
}

.footer_text_right{
	float: right;
}

#roads{
	height: 100vh;
	width: 100vw;
	float: left;
	transition: all ease .5s;
}
.road_row{
	height: calc(100vh - 80px);
}
.road_container{
	height: 100%;
	background-size: cover;
	background-position: center center;
	color: white;
    text-align: center;
    cursor: pointer
}

#roadSection{
	overflow: hidden;
	height: 100vh;
}
#road_info.openRoad{
	float: left;
}
#roadSectionInner{
	width: 1000000000px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem; 
}

@media (min-width: 2000px){
	.road_container {
	    height: 60vh;
	    margin-top: 20vh;
	}
	.road_info_inner {
	    height: 60vh;
	    margin-top: 20vh;
	}
	.h1_container {
	    margin-bottom: 4vh;
	}
	#progress {
	    margin-bottom: 8vh;
	}

	.close_btn {
	    top: calc(115vh);
	}
	#roads .road{
		margin-top: calc(30vh - 33px );
	}
	.road_hover h1 {
	    margin-top: calc(15vh - 33px);
	    padding-bottom: 4vh;
	}
	.road_hover p {
	    margin: 4vh 0;
	}
	.road_hover button {
	    margin-top: 5vh;
	}
}

@media (min-width: 1200px){
	.container {
	    max-width: 1100px !important;
	}
}

@media (max-width: 1200px){
	.navbar-brand img{
		height: 35px !important;
	}
	.container {
	    max-width: 95%;
	}
	.container ul li {
	    font-size: 14px;
	}
	.carTextContainer p, .carTextContainer h1 {
	    padding-left: 11vw;
	}
	.imgTextContainer:nth-child(2n) p {
	    padding-left: 5vw;
	}
	.imgTextContainer:nth-child(2n) h1 {
	    padding-left: 5vw;
	}
	.road_title_container {
	    margin-top: -80px;
	}
	#roads{
		padding: 0 0 $medium_margin;
		display: inline-block;
    	width: 100vw;
	}
	#road_info{
		margin-top: $medium_margin;
	}
	#road_info.openRoad{
		margin-bottom: $medium_margin;
	}
	#progress{
		margin-bottom: $medium_margin;
	}
	.history-container{
		margin-bottom: $medium_margin;
	}
	.h1_container{
		margin-bottom: $medium_margin_h1;
	}

}

@media (max-width: 1160px){
	.container ul li {
	    font-size: 14px;
	}
}

@media (max-width: 1100px){
	#mapSVG{
		width: 100%; height: 100%;
	}
	.navbar-brand img {
	    height: 30px !important;
	}
	.container ul li {
	    font-size: 12px;
	}
	.imgTextContainer:nth-child(5) {
	    margin-top: 0px;
	}
	.imgTextContainer:nth-child(10) {
	    margin-top: 0px;
	}
	.imgTextContainer:nth-child(11) {
	    margin-top: 0px;
	}
}

@media (max-width: 992px){
	.container ul li .nav-link {
	    font-size: 1rem;
	    padding: .25rem 1.5rem;
	}
	.container {
	    max-width: 90%;
	}
	.col-sm {flex-basis: auto;}
	.container ul li{
		text-align: left;
		border-right: none;
	}
	.year_container {
	    font-size: 25px;
	}
	.navbar img{
		height: 40px !important;
	}
	.imgTextContainer:nth-child(3) {
	    margin-top: -13vh; 
	}
	.imgTextContainer:nth-child(2n) {
	    margin-top: 0vh;
	}
	.imgTextContainer:nth-child(6) {
	    margin-top: -9vh; 
	}
	.imgTextContainer:nth-child(10) {
	    margin-top: 70px;
	}
	.history-container .col{
		column-count: 1 !important;
	}

}

@media (max-width: 900px){
	.progress-col-3 .span{
		width: 100%;
	}
}

@media (max-width: 800px){
	#svg{display: none;}
	.imgTextContainer {
	    margin-top: 10vh !important;
	}
	.imgTextContainer div {
	    width: 100%;
	}
	.imgTextContainer img {
	    width: 70vw;
	}
	.imgTextContainer {
	    flex-direction: column;
	}
	.carTextContainer p, .carTextContainer h1 {
	    max-width: 90vw;
	}
	.carTextContainer h1 {
	    margin-top: 50px;
	}
	.imgTextContainer:nth-child(2n) img {
	    width: 70vw;
	    float: right;
	}
	.carTextContainer h1{
	    padding-left: 11vw !important;
	}
	.imgTextContainer:nth-child(2n) p {
	    padding-left: 11vw !important;
	}
	.carTextContainer{
		order: 2;
	}
	.leftSide{
		order: 1;
	}
}


@media (max-width: 750px){
	.road{
		margin-bottom: 20px !important;
	}
	.roadText{
		padding: 0 20px;
	}
	.h1_container h1{
		font-size: 30px;
	}
}

.st1_zoom{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2_zoom{clip-path:url(#SVGID_2_);fill:#DA6E5B;}

.st3_zoom{clip-path:url(#SVGID_4_);fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.st0_zoom{fill:$blue_color;}
.st1_zoom{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2_zoom{clip-path:url(#SVGID_2_222);fill:$blue_color;}
.st3_zoom{clip-path:url(#SVGID_2_222);fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

	.st0_map{fill:#FFFFFF;}
	.st1_map{fill:none;stroke:#3EB5F1;stroke-width:1.25;stroke-miterlimit:3.8640001;}
	.st2_map{enable-background:new    ;}
	.st3_map{clip-path:url(#SVGID_2_);}
	.st4_map{fill:#E2E2E4;}
	.st5_map{fill:#E2E2E4;stroke:#C7C7C9;stroke-miterlimit:3.8640001;}
	.st6_map{fill:#CEE9FC;stroke:#95BECB;stroke-width:0.5;stroke-miterlimit:3.8640001;}
	.st7_map{fill:#CEE9FC;}
	.st8_map{fill:none;stroke:#C7C7C9;stroke-linejoin:round;}
	.st9_map{fill:none;stroke:#C7C7C9;stroke-miterlimit:3.8640001;}
	.st1_map0{fill:none;stroke:#6086C4;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
	.st1_map1{fill:none;stroke:#BBBCBE;stroke-miterlimit:3.8640001;}
	.st1_map2{fill:none;stroke:#95BECB;stroke-width:0.5;stroke-miterlimit:3.8640001;}
	.st1_map3{fill:#87898C;}
	.st1_map4{font-family: $lato;}
	.st1_map5{font-size:9px;}
	.st1_map6{fill:none;stroke:#8AB3BB;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st1_map7{fill:#CEE9FC;stroke:#8AB3BB;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st1_map8{clip-path:url(#SVGID_4_);fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st1_map9{clip-path:url(#SVGID_4_);fill:#CEE9FC;}
	.st2_map0{clip-path:url(#SVGID_4_);fill:none;stroke:#C9C8C8;stroke-width:6;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st2_map1{clip-path:url(#SVGID_4_);fill:none;stroke:#E2E2E4;stroke-width:6;stroke-miterlimit:10;}
	.st2_map2{clip-path:url(#SVGID_4_);fill:none;stroke:#E2E2E4;stroke-width:7;stroke-miterlimit:10;}
	
		.st2_map3{clip-path:url(#SVGID_4_);fill:none;stroke:#C9C8C8;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	
		.st2_map4{clip-path:url(#SVGID_4_);fill:none;stroke:#C9C8C8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st2_map5{clip-path:url(#SVGID_4_);fill:#FFFFFF;}
	.st2_map6{clip-path:url(#SVGID_4_);fill:none;stroke:#95BECB;stroke-width:0.5;stroke-miterlimit:3.8640001;}
	
		.st2_map7{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st2_map8{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:1.25;stroke-miterlimit:3.8640001;}
	.st2_map9{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-miterlimit:3.8640001;}
	.st3_map0{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:0.75;stroke-miterlimit:3.8640001;}
	.st3_map1{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:0.75;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st3_map2{clip-path:url(#SVGID_4_);fill:none;stroke:#8AB3BB;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st3_map3{clip-path:url(#SVGID_4_);fill-rule:evenodd;clip-rule:evenodd;fill:#CEE9FC;}
	.st3_map4{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-miterlimit:3.8640001;}
	.st3_map5{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st3_map6{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-miterlimit:3.8640001;stroke-dasharray:8,3;}
	.st3_map7{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:5;stroke-miterlimit:3.8640001;stroke-dasharray:1,10;}
	
		.st3_map8{clip-path:url(#SVGID_4_);fill:none;stroke:#E18C44;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	
		.st3_map9{clip-path:url(#SVGID_4_);fill:none;stroke:#F1C7A8;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st4_map0{clip-path:url(#SVGID_4_);}
	.st4_map1{fill:none;stroke:#F1C7A8;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:3.8640001;}
	.st4_map2{clip-path:url(#SVGID_4_);fill:none;stroke:#BBBCBE;stroke-miterlimit:3.8640001;}
	.st4_map3{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-miterlimit:3.8640001;stroke-dasharray:8,1,1,1;}
	.st4_map4{clip-path:url(#SVGID_4_);fill:none;stroke:#949598;stroke-miterlimit:3.8640001;}
	.st4_map5{fill:none;stroke:#E2E2E4;stroke-miterlimit:10;}
	.st4_map6{fill:none;stroke:#949598;stroke-miterlimit:3.8640001;}
	.st4_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;}
	
		.st4_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4712279,0.4712279,0.4712279,0.4712279;}
	
		.st4_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.7698228,0.4712279,0.4712279,0.4712279,0.4712279,0.4712279;}
	
		.st5_map0{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.3285431,0.3285431,0.3285431,0.3285431;}
	
		.st5_map1{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.2629209,0.2629209,0.2629209,0.2629209;}
	
		.st5_map2{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:2.1033676,0.2629209,0.2629209,0.2629209,0.2629209,0.2629209;}
	
		.st5_map3{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4705682,0.4705682,0.4705682,0.4705682;}
	
		.st5_map4{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.1033883,0.1033883,0.1033883,0.1033883;}
	
		.st5_map5{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5104081,0.5104081,0.5104081,0.5104081;}
	
		.st5_map6{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0832648,0.5104081,0.5104081,0.5104081,0.5104081,0.5104081;}
	
		.st5_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4918534,0.4918534,0.4918534,0.4918534;}
	
		.st5_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.9348271,0.4918534,0.4918534,0.4918534,0.4918534,0.4918534;}
	
		.st5_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4980562,0.4980562,0.4980562,0.4980562;}
	
		.st6_map0{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.9844499,0.4980562,0.4980562,0.4980562,0.4980562,0.4980562;}
	
		.st6_map1{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5307143,0.5307143,0.5307143,0.5307143;}
	
		.st6_map2{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.2457142,0.5307143,0.5307143,0.5307143,0.5307143,0.5307143;}
	
		.st6_map3{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5095505,0.5095505,0.5095505,0.5095505;}
	
		.st6_map4{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0764041,0.5095505,0.5095505,0.5095505,0.5095505,0.5095505;}
	
		.st6_map5{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5016487,0.5016487,0.5016487,0.5016487;}
	
		.st6_map6{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0131893,0.5016487,0.5016487,0.5016487,0.5016487,0.5016487;}
	
		.st6_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.3868184,0.3868184,0.3868184,0.3868184;}
	
		.st6_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.094547,0.3868184,0.3868184,0.3868184,0.3868184,0.3868184;}
	
		.st6_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4889649,0.4889649,0.4889649,0.4889649;}
	
		.st7_map0{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.9117191,0.4889649,0.4889649,0.4889649,0.4889649,0.4889649;}
	
		.st7_map1{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5152009,0.5152009,0.5152009,0.5152009;}
	
		.st7_map2{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.1216073,0.5152009,0.5152009,0.5152009,0.5152009,0.5152009;}
	.st7_map3{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.37206,0.37206,0.37206,0.37206;}
	
		.st7_map4{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5072702,0.5072702,0.5072702,0.5072702;}
	
		.st7_map5{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0581613,0.5072702,0.5072702,0.5072702,0.5072702,0.5072702;}
	
		.st7_map6{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5153583,0.5153583,0.5153583,0.5153583;}
	
		.st7_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.1228662,0.5153583,0.5153583,0.5153583,0.5153583,0.5153583;}
	.st7_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.417918,0.417918,0.417918,0.417918;}
	
		.st7_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.3433442,0.417918,0.417918,0.417918,0.417918,0.417918;}
	.st8_map0{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.522846,0.522846,0.522846,0.522846;}
	
		.st8_map1{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.1827683,0.522846,0.522846,0.522846,0.522846,0.522846;}
	
		.st8_map2{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5003816,0.5003816,0.5003816,0.5003816;}
	
		.st8_map3{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0030532,0.5003816,0.5003816,0.5003816,0.5003816,0.5003816;}
	
		.st8_map4{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4906414,0.4906414,0.4906414,0.4906414;}
	
		.st8_map5{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.9251316,0.4906414,0.4906414,0.4906414,0.4906414,0.4906414;}
	
		.st8_map6{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4955992,0.4955992,0.4955992,0.4955992;}
	
		.st8_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.9647932,0.4955992,0.4955992,0.4955992,0.4955992,0.4955992;}
	
		.st8_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5120355,0.5120355,0.5120355,0.5120355;}
	
		.st8_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0962844,0.5120355,0.5120355,0.5120355,0.5120355,0.5120355;}
	
		.st9_map0{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.5160794,0.5160794,0.5160794,0.5160794;}
	
		.st9_map1{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.1286354,0.5160794,0.5160794,0.5160794,0.5160794,0.5160794;}
	
		.st9_map2{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.3289435,0.3289435,0.3289435,0.3289435;}
	
		.st9_map3{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.4359165,0.4359165,0.4359165,0.4359165;}
	
		.st9_map4{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.4873319,0.4359165,0.4359165,0.4359165,0.4359165,0.4359165;}
	
		.st9_map5{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.6902221,0.6902221,0.6902221,0.6902221;}
	.st9_map6{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.486813,0.486813,0.486813,0.486813;}
	
		.st9_map7{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:3.8945038,0.486813,0.486813,0.486813,0.486813,0.486813;}
	.st9_map8{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:0.507075,0.507075,0.507075,0.507075;}
	
		.st9_map9{fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-dasharray:4.0565996,0.507075,0.507075,0.507075,0.507075,0.507075;}
	
		.st1_map00{clip-path:url(#SVGID_4_);fill:none;stroke:#3EB5F1;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:3.8640001;stroke-dasharray:4,0.5,0.5,0.5,0.5,0.5;}
	.st1_map01{fill:none;}
	.st1_map02{fill:#363636;}
	.st1_map03{font-size:13px;}
	.st1_map04{font-family:$lato;}
	.st1_map05{font-size:16px;}
	.st1_map06{fill-rule:evenodd;clip-rule:evenodd;fill:#A1CAC1;}
	.st1_map07{fill-rule:evenodd;clip-rule:evenodd;fill:#D15845;}
	.st1_map08{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st1_map09{fill:#3EB5F1;}
	.st1_map10{font-size:6px;}
	.st1_map11{clip-path:url(#SVGID_4_);fill:none;stroke:$orange_color;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	
		.st1_map12{clip-path:url(#SVGID_4_);fill:none;stroke:$orange_color;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	
		.st1_map13{clip-path:url(#SVGID_4_);fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:$orange_color;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st1_map14{clip-path:url(#SVGID_2_);fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st1_map15{clip-path:url(#SVGID_2_);fill:none;stroke:#C7C7C9;stroke-linejoin:round;}
	.st1_map16{fill:$blue_color}
	.st1_map17{display:none;}

	.st1_map11:hover{stroke-width:3; cursor: pointer;}

	.st1_map12:hover{stroke-width:3; cursor: pointer;}
	.st1_map13:hover{stroke-width:3; cursor: pointer;}
	
	.st0_left{fill:$blue_color;}
	.st1_left{fill:none;stroke:$blue_color;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

	.st0_right{fill:$blue_color;}
	.st1_right{fill:none;stroke:$blue_color;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

.st_map_117{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;}
	.st_map_118{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:4.1413641,4.1413641;}
	.st_map_119{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.1274192,3.1274192;}
	.st_map_120{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.8409932,3.8409932;}
	.st_map_121{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.7524977,3.7524977;}
	.st_map_122{fill:none;stroke:#5F5F5F;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:3.5916438,3.5916438;}

	.left-right-btn{
		width: 4vh;
    	position: absolute;
    	top: calc(150vh - 80px + 2vh);
    	background-color: white;
    	border-radius: 1.2vh;
    	cursor: pointer;
    	z-index: 10;
    	opacity: 0;
	}

	#slide-right{
		right: 1vw;
	}
	#slide-left{
		left: 1vw;
	}